#box
{
    color: blue;
    background-color: rgb(232, 222, 224);
    height: 300px;
    width: 100px solid rgb(177, 177, 24);
    border : 2px solid rgb(10, 26, 28);
    text-align: center;
    border-radius: 15%;
    border-width: 50px;
    padding-left: 2px;
    margin-bottom: 70px;


}
#id{
    background-color: rgb(85, 85, 154);
}
.c4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3px;
    background-color: pink;
    padding: 20px;
    height:100vh;
    align-items: centers;
}
.c3