.box {
    height: 200px;
    width: 200px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

/* Width less than 300px */
@media (max-width: 299px) {
    .box {
        background-color: green;
    }
}

/* Width between 300px and 399px */
@media (min-width: 300px) and (max-width: 399px) {
    .box {
        background-color: pink;
    }
}

/* Width between 400px and 599px */
@media (min-width: 400px) and (max-width: 599px) {
    .box {
        background-color: red;
    }
}

/* Width above 600px */
@media (min-width: 600px) {
    .box {
        background-color: blue;
    }
}
